<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title About
  body
    .wrapper
      section.section.hero
        ul.socials
          each item in ['vk', 'gh', 'in']
            li.socials__item
              a(href="" class=`socials__link socials__link_${item}`)
        a(href="").hamburger
        a(href="").down-arrow
        .hero__title
          img(src="../../", alt="").section-title
          .user.hero__user-block
            .user__photo
            .user__name
            .user__desk

      section.section.about
      section.section.map