section.section.hero 
    .hero__header
        ul.socials
            each icon in ['vk', 'github', 'in']
                li.socials__item
                    a(href="#").socials__link
                        svg.socials__icon
                            use(xlink:href=`img/sprite/sprite.svg#${icon}`)
            
        a(href="#").hamburger
            svg.hamburger__icon
                use(xlink:href="img/sprite/sprite.svg#hamburger")

    .hero__container
        img(src="img/decor/portfolio-header.png" alt="").hero-title-pic
        .user
            .user__pic-container
                img(src="img/content/user.jpg" alt="").user__pic
            .user__name User Name
            .user__desc Site for WEBdev
    a(href="#").arrow-down
        svg.arrow-down__icon
            use(xlink:href="img/sprite/sprite.svg#arrow_down")