//color
$lightgreen: #6c9c5a;
$green: #4e8839;
$gray: #566358;
$black: #373e42;
$white: #f4f5f0;
$beige: #ebefe2;
$lightbeige: #f8f9f5;

//device resolutions
$laptop: 1200px;
$tablets: 768px;
$phone: 480px;

//import
@import "mixins/*";

@import "layout/setup";
@import "layout/fonts";
@import "layout/sprite";

@import "blocks/**/*";