$lightgreen: #6c9c5a;
$green: #4e8839;
$gray: #566358;
$black: #373e42;
$white: #f4f5f0;
$beige: #ebefe2;

@import "mixins/*";

@import "layout/setup";
@import "layout/fonts";
@import "layout/sprite";

@import "blocks/**/*";