extends ../mainLayout.pug

block title
  | Приветствие

block content
  .auth-container
    a(href="#").login__btn.auth__page Authorisation
    .auth
      .auth__info
        .user
          .user__photo
            img(src="img/content/user.jpg", alt="").user__avatar
          .user__name User Name
          .user__text Welcome my page
        ul.socials
          each icon in ['vk', 'github', 'in']
            li.socials__item
              a(href="#").socials__link
                svg.socials__icon
                  use(xlink:href=`img/sprite/sprite.svg#${icon}`)
      .auth__btns
        a(href="#").auth__btn My work
        a(href="#").auth__btn About
        a(href="#").auth__btn Blog
    .auth__footer © User Name | Created by Company Name | 2017